/* heading */
.heading {
    display: flex;
    margin-top: var(--header-height);
    justify-content: center;
    align-items: center;
    background: url(header.png);
    background-size: cover;
    background-position: center center;
    color: white;
    height: 100vh;
}

/* table */
table{
    margin-top: 2%;
    table-layout: fixed;
    width: 100%;
}

table, td, th{
    border: none !important;
}

th{
    font-weight: bold;
    color: var(--third-color);
}

td{
    font-weight: 500;
    color: var(--second-color);
}

td, th{
    padding: 1%;
    text-align: center;
    align-items: center;
}