/* heading */
.heading {
    display: flex;
    margin-top: var(--header-height);
    justify-content: center;
    align-items: center;
    background: url(header.png);
    background-size: cover;
    background-position: center center;
    color: var(--first-color);
    height: 100vh;
}

/* table */
table{
    margin-top: 2%;
    table-layout: fixed;
    width: 100%;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    font-weight: bold;
    color: var(--first-color);
    background-color: var(--third-color);
}

td{
    font-weight: 500;
    color: var(--second-color);
}

td, th{
    padding: 1%;
    text-align: center;
    align-items: center;
}
tr:nth-child(odd) {
    background-color: #daeff3;
}